$width : 100%;

$height: 100%;

$relative: relative;

$absolute: absolute;

$background-size: 100% 100%;

$flex: flex;

$row: row;

$flex-start: flex-start;

$space-between: space-between;

$baseline: baseline;



$center: center;



$font-weight-600: 600;

$margin-0: 0;

$margin-left-30: 30px;


//#region line-height

$line-height-56: 56px;

$line-height-33: 33px;


//#endregion

//#region font-size

$font-size-56: 56;



//#endregion

//#region color

$color-ff6600: #ff6600;

$color-45577b: #45577b;

$color-fdd164: #fdd164;


//#endregion